<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Comandos</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="shortcut icon" href="./img//suitcase.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/Footer-Dark.css">
    <link rel="stylesheet" href="/css/Header-Blue.css">
    <link rel="stylesheet" href="./css/styles-comandos.css">
</head>

<body>
    <header class="header-blue">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Administrador de Gastos de Viaje</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/tproject">Registros <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Salir</a>
                    </li>
                    <li class="nav-item dropdown">
            </div>
            </li>
            </ul>
            <img src="./img/Logo.png" alt="logo" id="logo">
            </div>
        </nav>
    <div class="comandos ">
        <div class="card-comandos">
            <h4 class="card-header">Acciones</h1>

            <div class="consola">

                <div class="both container-fluid">
                    <div>
                        <h2 class="card-header">Juan</h2>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-secondary" id="1-P">MXN</button>
                            <button type="button" class="btn btn-secondary" id="1-E">EUR</button>
                            <button type="button" class="btn btn-secondary" id="1-D">USD</button>
                          </div>
                        <button class="btn btn-primary" id="1-C"> Total/Ciudad</button>
                        <button class="btn btn-primary" id="1-F"> Por Fechas</button>
                        <button class="btn btn-primary" id="1-R"> Registro</button>
                    </div>
                    <div>
                        <h2 class="card-header">Pedro</h2>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-secondary" id="2-P">MXN</button>
                            <button type="button" class="btn btn-secondary" id="2-E">EUR</button>
                            <button type="button" class="btn btn-secondary" id="2-D">USD</button>
                          </div>
                        <button class="btn btn-primary" id="2-C"> Total/Ciudad</button>
                        <button class="btn btn-primary" id="2-F"> Por Fechas</button>
                        <button class="btn btn-primary" id="2-R"> Registro</button>
                    </div>
                </div>

                <div class="both container-fluid">
                    <div>
                        <h2 class="card-header">Carlos</h2>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-secondary" id="3-P">MXN</button>
                            <button type="button" class="btn btn-secondary" id="3-E">EUR</button>
                            <button type="button" class="btn btn-secondary" id="3-D">USD</button>
                          </div>
                        <button class="btn btn-primary" id="3-C"> Total/Ciudad</button>
                        <button class="btn btn-primary" id="3-F"> Por Fechas</button>
                        <button class="btn btn-primary" id="3-R"> Registro</button>
                    </div>
                    <div>
                        <h2 class="card-header">Ana</h2>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-secondary" id="4-P">MXN</button>
                            <button type="button" class="btn btn-secondary" id="4-E">EUR</button>
                            <button type="button" class="btn btn-secondary" id="4-D">USD</button>
                          </div>
                        <button class="btn btn-primary" id="4-C"> Total/Ciudad</button>
                        <button class="btn btn-primary" id="4-F"> Por Fechas</button>
                        <button class="btn btn-primary" id="4-R"> Registro</button>
                    </div>
                </div>
                    <div class="both container-fluid">
                        <div>
                            <h2 class="card-header">Maria</h2>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button type="button" class="btn btn-secondary" id="5-P">MXN</button>
                                <button type="button" class="btn btn-secondary" id="5-E">EUR</button>
                                <button type="button" class="btn btn-secondary" id="5-D">USD</button>
                              </div>
                            <button class="btn btn-primary" id="5-C"> Total/Ciudad</button>
                            <button class="btn btn-primary" id="5-F"> Por Fechas</button>
                            <button class="btn btn-primary" id="5-R"> Registro</button>
                        </div>
                        <div>
                            <h2 class="card-header">Alejandra</h2>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button type="button" class="btn btn-secondary" id="6-P">MXN</button>
                                <button type="button" class="btn btn-secondary" id="6-E">EUR</button>
                                <button type="button" class="btn btn-secondary" id="6-D">USD</button>
                              </div>
                            <button class="btn btn-primary" id="6-C"> Total/Ciudad</button>
                            <button class="btn btn-primary" id="6-F"> Por Fechas</button>
                            <button class="btn btn-primary" id="6-R"> Registro</button>
                        </div>
                    </div>
                    
                    <div class="container-fluid">
                        <h2 class="card-header">Todos</h2>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-secondary" id="7-P">MXN</button>
                            <button type="button" class="btn btn-secondary" id="7-E">EUR</button>
                            <button type="button" class="btn btn-secondary" id="7-D">USD</button>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="resultados" id="resultados">
                    <div class="App" id="App">
                    </div>
            </div>


            </div>
            
            <!-- The core Firebase JS SDK is always required and must be listed first -->
            <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>
            <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-firestore.js"></script>

            <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

            <script>
                // Your web app's Firebase configuration Lo dejor abierto porque no tiene mucha importancia en esta ocasion
                var firebaseConfig = {
                    apiKey: "AIzaSyCeqAgx6pQwqxVwaxXN6IE8CQFB6wCrTQw",
                    authDomain: "admin-gastos-viaje.firebaseapp.com",
                    projectId: "admin-gastos-viaje",
                    storageBucket: "admin-gastos-viaje.appspot.com",
                    messagingSenderId: "553931602678",
                    appId: "1:553931602678:web:b438d2e7e3d2707bf5cad7"
                };
                // Initialize Firebase
                firebase.initializeApp(firebaseConfig);
            </script>
            <script src="/consultas.js" type="module"></script>
</body>

</html>